*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container {
    width: 1200px;
    margin: auto;
}
/* memu */
.menu__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;
}
.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.logo img{
    width: 40px;
    height: 40px;
    margin-right: 8px;
}
.logo__name {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
}
.nav__items {
    display: flex;
}
.nav__list {
    list-style-type: none;
}
.nav__list a {
    text-decoration: none;
    color: #000;
    font-size: 15px;
    margin: 0 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: color 0.3s ease-in;
}
.nav__list a:hover {
    color: rgb(185, 183, 183);
}
.btn {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    padding: 12px 35px;
    transition: all 0.3s ease-in;
}
.btn:hover {
    color: #000;
    background-color: rgb(185, 183, 183);
}
.burger-menu {
    display: none;
}
/* about */
.about {
    display: flex;
    flex-wrap: wrap;
    /* height: 650px;
    min-height: 650px; */
}

.reverse {
    flex-wrap: wrap-reverse;
}
.about__item {
    flex: 1 250px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}
.about__item--dark {
    background-color: #000;
}
.about__item--light{
    background-color: #fff;
}
.about__img {
    flex: 2 500px;
}
.about__img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.about__title {
    font-size: 40px;
    margin-bottom: 20px;
}
.about__text {
    font-size: 15px;
    margin-bottom: 45px;
}
.about__btn {
    text-decoration: none;
    font-size: 12px;
}
.btn--dark {
    color: #000;
}
.btn--light {
    color: #fff;
}
.about--dark {
    color: #000;
}
.about--light {
    color: #fff;
}


/* gallery */
.gallery {
    display: flex;
    flex-wrap: wrap;
}
.gallery__item {
    flex: 1 220px;
    height: 440px;
    min-width: 220px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 30px;
}
.gallery__title {
    font-size: 18px;
    color: #fff;
}
.gallery__author {
    font-size: 13px;
    color: #fff;
    padding: 15px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.568);
}
.gallery__item:nth-child(1) {
    background-image: url("../img/gallery1.webp");
}
.gallery__item:nth-child(2) {
    background-image: url("../img/gallery2.webp");
}
.gallery__item:nth-child(3) {
    background-image: url("../img/gallery3.webp");
}
.gallery__item:nth-child(4) {
    background-image: url("../img/gallery4.webp");
}
.gallery__readmore {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-top: 15px;
}
/* advanteges */
.advantages {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 125px 0;
}
.advantages__item {
    flex: 1 315px;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.advantages__icon {
    color: rgb(136, 136, 136);
}
.advantages__head {
    margin: 45px 0 25px 0;
}
/* footer */
.footer-section {
    background-color: #000000;
    padding: 60px 0;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__wrapper {
    flex: 1 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.footer__nav {
    flex: 2 400px;
}
.footer__copyright {
    flex: 1 150px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.footer__logo {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
}
.icons {
    margin-top: 75px;
}
.icons i {
    color: #fff;
    margin-right: 10px;
}
.footer__list li {
    margin-bottom: 15px;
    list-style-type: none;
}
.footer__link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    letter-spacing: 2px;
    transition: color 0.3s ease-in;
}
.footer__link:hover {
    color: rgb(185, 183, 183);;
}
.copyright {
    margin-top: 75px;
}
.copyright__text {
    color: rgb(104, 103, 103);
    font-size: 15px;
}
/*  */
@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .nav {
        display: none;
    }
    .btn {
        display: none;
    }
    .burger-menu {
        display: block;
    }
    .footer__wrapper {
        text-align: center;
    }
    .footer__nav {
        text-align: center;
        margin: 15px 0;
    }
}
@media only screen and (max-width: 375px) { 
    .about__title {
        font-size: 25px;
    }
}
